@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Montserrat-Regular/Montserrat-Regular.otf') format('opentype'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), 
        url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), 
        url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Montserrat-Bold/Montserrat-Bold.otf') format('opentype'),
        url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), 
        url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), 
        url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Montserrat-Light/Montserrat-Light.otf') format('opentype'),
        url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), 
        url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'), 
        url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

body,
html{
    min-height: 100vh;
}

.body-ofh{
    overflow: hidden;
}

.container{
    max-width: 1170px;
}

ul,
ol,
p,
label{
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover,
a:focus{
    text-decoration: none;
}

.caption {
    font-weight: bold;
    line-height: 145%;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.caption_size_h1 {
    font-size: 48px;
}

.caption_size_h2 {
    font-size: 34px;
}

.caption_size_h3 {
    font-size: 22px;
}

.caption_margin_bottom{
    margin-bottom: 12px;
}

.text{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.text_margin_bottom{
    margin-bottom: 16px;
}

.button{
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #0D101C;
    padding: 0 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    transition: .3s;
    border: none;
}

.button_color_yellow{
    background-color: #FFCF35;
}

.button_color_green{
    background-color: #6FCF97;
}

.button_color_white{
    background-color: #fff;
}

.button_color_yellow:hover{
    box-shadow: 0px 0px 16px #FF8A35;
    color: #0D101C;
    text-decoration: none;
}

.button_color_white:hover{
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.6);
    color: #0D101C;
    text-decoration: none;
}

.button_type_first{
    height: 44px;
}

.button_type_second{
    height: 58px;
}

body{
    font-family: Montserrat;
    background-color: #0D101C;
    background-image: url(../img/circles-bg.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
}

main{
    position: relative;
}

.stripes-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.stripes-bg__line{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.stripes-bg__stripe{
    width: 1px;
    height: 100%;
    background-color: #171A26;
}

.main-content{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.first-section{
    padding-top: 140px;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 30px;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-xs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu li:not(:last-child){
    margin-right: 32px;
}

.header-menu__link{
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: .3s;
    position: relative;
}

.header-menu__link:hover{
    color: #fff;
}

.header-menu__link:after {
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    background-color: #FFCF35;
    width: 0;
    left: 50%;
    transition: .3s;
    height: 1px;
}

.header-menu__link:hover:after{
    width: 60%;
    left: 20%;
}

.header__header-menu{
    margin-right: 75px;
}

.language-switcher{
    position: absolute;
    border: 1px solid rgba(256,256,256,.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 16px 10px 8px;
    width: max-content;
}

.language-switcher-wrapper{
    position: relative;
    width: 86px;
    height: 44px;
}

.language-switcher__dropdown{
    margin-top: 16px;
    left: 0;
    top: 100%;
    display: none;
}

.language-switcher__dropdown input{
    display: none;
}

.language-switcher__dropdown label{
    transition: .3s;
}

.language-switcher__dropdown label:hover{
    filter: drop-shadow(0px 0px 8px #FF8A35);
}

.language-switcher__dropdown_active{
    display: block;
}

.language-switcher__actual{
    display: flex;
    align-items: center;
}

.language-switcher__actual span{
    margin-right: 12px;
}

.language-switcher__actual svg{
    transform: rotate(90deg);
    fill: #fff;
    transition: .3s;
}

.language-switcher__actual_active svg{
    transform: rotate(-90deg);
}

.language-switcher__dropdown li:not(:last-child){
    margin-bottom: 16px;
}

.header__language-switcher-wrapper{
    margin-right: 20px;
}

.header__sign-up{
    margin-right: 20px;
}

.intro-block{
    position: relative;
    margin-bottom: 44px;
}

.intro-block__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.intro-block__bg{
    position: absolute;
    /* background: radial-gradient(50% 50% at 50% 50%, #333C5E 0%, rgba(23, 26, 38, 0) 100%); */
    background-image: url(../img/intro-section-glow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 786px;
    height: 683px;
    left: 0;
    right: 0;
    margin: auto;
    top: -200px;
}

.intro-block__caption{
    text-align: center;
    margin-bottom: 12px;
}

.graph-block{
    background: #0D101C;
    position: relative;
    z-index: 2;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.graph-block__top{
    border-bottom: 1px solid #5F5F5F;
}

.graph-block__categories{
    display: flex;
    padding: 0 16px;
}

.graph-block__category{
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
    padding: 26px 0 29px;
    text-decoration: none;
    position: relative;
    transition: .3s;
}



.graph-block__category:hover{
    color: #fff;
}

.graph-block__categories li:not(:last-child){
    margin-right: 42px;
}

.graph-block__category_active{
    color: #FFFFFF;
}

.graph-block__category_active:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: calc(100% + 14px);
    left: -7px;
    height: 3px;
    background-color: #FFCF35;
}

.graph-block__chart{
    padding: 26px 17px 20px;
}

.graph-block__bottom{
    border-top: 1px solid #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
    margin-bottom: 44px;
}

.graph-block__dates{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.graph-block__dates li:not(:last-child){
    border-right: 1px solid #333333;
}

.graph-block__date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
    padding: 15px 0;
    position: relative;
    transition: .3s;
}

.graph-block__date:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.graph-block__date_active{
    color: #FFFFFF;
}

.graph-block__date_active:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: #FFCF35;
}

.graph-table{
    padding: 0 17px 0;
}

.graph-table table{
    width: 100%;
    
}

.graph-table table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.graph-table table td{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.graph-table table td .loss{
    color: #EB5757;
}

.graph-table table td .income{
    color: #6FCF97;
}

.graph-table__icon-block{
    display: flex;
    align-items: center;
}

.graph-table__icon-block svg{
    margin-right: 8px;
}

.section:not(:last-child){
    margin-bottom: 160px;
}

.big-graph{
    margin: 0 auto;
    display: block;
}

.big-graph__line_animated{
    stroke-dasharray: 3400;
    stroke-dashoffset: 3500;
    animation: dash 10s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.planets-first{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.planets-first svg{
    transform: translateX(-240px);
}

.fourth-section{
    position: relative;
    z-index: 2;
}

.trader-block{
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: relative;
    padding: 53px 42px;
    margin-top: 70px;
}

.trader-block_margin_bottom{
    margin-bottom: 125px;
}

.trader-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trader-block__pic{
    position: absolute;
    left: 42px;
    top: -134px;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    background: #0D101C;
}

.trader-block__pic img{
    max-width: 140px;

}

.trader-info{
    display: flex;
    align-items: flex-end;
}

.trader-info__name{
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 8px;
    color: #FFFFFF;
}

.trader-info__country{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.trader-block__top{
    margin-bottom: 28px;
}

.trader-block__type{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 4px;
}

.trader-block__value{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFCF35;
}

.trader-block__stats{
    margin-bottom: 28px;
}

.trader-block__stats li{
    display: flex;
    align-items: flex-end;
}

.trader-block__stats li:not(:last-child){
    margin-bottom: 16px;
}

.trader-block__sub-info{

}

.trader-block__sub-info p{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: normal;
}

.trader-block__sub-info li:not(:last-child){
    margin-bottom: 12px;
}

.trader-block__button{
    position: absolute;
    left: 42px;
    bottom: -24px;
}

.form__caption{
    margin-bottom: 44px;
}

.form_type_income{
    width: max-content;
    position: relative;
    z-index: 2;
}

.select-wrapper{
    margin-bottom: 32px;
}

.select-wrapper__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.select{
    position: relative;
    width: 100%;
    max-width: 385px;
    background-color: #0D101C;
}

.select_type_short .select__current{
    padding-top: 9px;
    padding-bottom: 9px;
}

.select__trigger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select__trigger_active{

}

.select__trigger svg{
    transform: rotate(90deg);
    fill: #fff;
    transition: .3s;
}

.select__current{
    padding: 19px 16px;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px 4px 4px 4px;
}

.select__current_active{
    border-radius: 4px 4px 0 0;
}

.select__current_active svg{
    transform: rotate(-90deg);
}

.select__options{
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    padding: 24px 16px;
    background-color: #0D101C;
    width: 100%;
    display: none;
    z-index: 2;
}

.select__options_active{
    display: block;
}

.select input{
    display: none;
}

.select__options li{
    line-height: 1;
}

.select__options li:not(:last-child){
    margin-bottom: 28px;
}

.select__option{
    position: relative;
}

.select__option:after{
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    background-color: #FFCF35;
    width: 0;
    left: 50%;
    transition: .3s;
    height: 1px;
}

.select__option:hover:after{
    width: 100%;
    left: 0;
}

.value-slider-wrapper__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.value-slider{
    margin-bottom: 44px;
}

.irs--big .irs-from, 
.irs--big .irs-to,
.irs--big .irs-single{
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.irs--big .irs-line{
    height: 1px;
}

.irs--big .irs-bar{
    height: 1px;
    background: #FFCF35;
    border-color: #FFCF35;
}

.irs--big .irs-handle{
    height: 23px;
    width: 23px;
    background: #0D101C;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    top: 23px;
}

.irs--big .irs-handle:after{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    background: #FFCF35;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: .3s;
}

.irs--big .irs-handle.state_hover, .irs--big .irs-handle:hover{
    background: #0D101C;
    transform: scale(1.2);
    border: 1px solid #FFFFFF;
}

.form-output{
    display: flex;
    align-items: center;
}

.form-output p{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 6px;
}

.form-output span{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFCF35;
}

.form__form-output{
    margin-bottom: 20px;
}

.fifth-section{
    position: relative;
    /* overflow: hidden; */
    padding-top: 210px;
    padding-bottom: 210px;
}

.fifth-section__form-wrapper{
    position: relative;
    width: max-content;
}

.fifth-section__form-wrapper:after{
    content: '';
    position: absolute;
    background-image: url(../img/income-form-glow.svg);
    width: 1240px;
    height: 1077px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -305px;
    left: -305px;
}

.fifth-section__form-wrapper:before{
    content: '';
    position: absolute;
    left: -160px;
    width: 905px;
    height: 905px;
    background-image: url(../img/income-form-planets.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -230px;
    z-index: 1;
    animation: rotation 20s linear infinite;

}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sixth-section{
    background-image: url(../img/blur-planets.png);
    background-repeat: no-repeat;
    background-position: calc((100vw - 1120px)/2) calc(100% - 100px);
    background-repeat: no-repeat;
}

.partner-programm-wrapper__text{
    margin-bottom: 32px;
}

.partner-program{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.partner-program li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-program__level{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.partner-program__value{
    font-weight: bold;
    font-size: 54px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 56px 40px;
    border: 1px solid #5F5F5F;
    border-radius: 50%;
    background: #0D101C;
}

.statistics__caption{
    margin-bottom: 44px;
    padding-left: 285px;
}

.stat-table-block__caption {
    margin-bottom: 32px;
}

.stat-table{
    background: #0D101C;
    width: 100%;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 24px;
}

.stat-table table{
    width: 100%;
}

.stat-table table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.stat-table table td{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 16px 0;
}

.stat-table table tr{
    border-bottom: 1px solid #5F5F5F;
}

.news-section__caption{
    padding-left: 285px;
    margin-bottom: 44px;
}

.news-preview{
    display: flex;
    flex-direction: column;
}

.news-preview__pic{
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px 4px 0px 4px;
    padding: 17px;
    height: 206px;
    width: 206px;
    position: absolute;
    left: 20px;
    top: -103px;
}

.news-preview__pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-preview{
    position: relative;
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 127px 20px 47px 20px;
    margin-top: 103px;
    margin-bottom: 22px;
}

.news-preview__caption{
    margin-bottom: 8px;
}

.news-preview__description{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.news-preivew__button{
    position: absolute;
    left: 20px;
    bottom: -22px;
}

.footer{
    border-top: 1px solid #5F5F5F;
    box-sizing: border-box;
    padding-top: 52px;
    padding-bottom: 48px;
}

.footer__logo{
    display: flex;
    width: max-content;
    margin-bottom: 52px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.social-list{
    display: flex;
}

.social-list li:not(:last-child){
    margin-right: 36px;
}

.social-block__text{
    margin-bottom: 23px;
}

.social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: .3s;

}

.social-list__link:hover{
    background-color: #FFCF35;
}

.footer__social-list{
    margin-bottom: 68px;
}

.copyright{
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #5F5F5F;
}

.copyright a{
    color: #5F5F5F;
    text-decoration: underline;
    
}

.copyright a:hover{
    color: #5F5F5F;
    text-decoration: none;
}

.footer-menu__link{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    position: relative;
}

.footer-menu__link:hover{
    color: #fff;
}

.footer-menu__link:after {
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    background-color: #FFCF35;
    width: 0;
    left: 50%;
    transition: .3s;
    height: 1px;
}

.footer-menu__link:hover:after{
    width: 60%;
    left: 20%;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu li:not(:last-child){
    
}

.video-block{
    position: relative;
}

.video-block:before{
    content: '';
    position: absolute;
    background-image: url(../img/videoblock-glow.svg);
    width: 1240px;
    height: 1077px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -248px;
    top: -318px;
}

.video-block:after{
    content: '';
    position: absolute;
    background-image: url(../img/videoblock-planets.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 815px;
    height: 815px;
    top: -123px;
    right: -343px;
    animation: rotation 20s linear infinite;
}

.video-block__content{
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    width: max-content;
}

.payments-section__navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.payments-section__nav-arrow{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: .3s;
}

.payments-section__nav-arrow svg{
    fill: #fff;
    transition: .3s;
}

.payments-section__nav-arrow:hover{
    border-color: #FFCF35;
}

.payments-section__nav-arrow:hover svg{
    fill:#FFCF35;
}

.payments-section__nav-arrow_prev{
    margin-right: 24px;
}

.payments-section__nav-arrow_prev svg{
    transform: rotate(180deg);
}

.payments-section__caption{
    text-align: center;
    margin-bottom: 45px;
}

/* burse */

.third-section{
    padding-top: 140px;
}

.third-section__title{
    margin-bottom: 44px;
    padding-left: 285px;
}

.third-section__text{
    max-width: 360px;
}

.third-section__caption{
    margin-bottom: 44px;
}

.boss-section{
    display: flex;
    max-width: 1448px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.boss-section__content{
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 0 4px 4px 0px 0;
    padding: 80px 154px 80px 67px; 
}

.boss-section__text{
    margin-bottom: 72px;
}

.boss-section__name{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
}

.boss-section__name:before{
    content: '';
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 73px;
    height: 1px;
    background-color: #B6B6B6;
}
/* end burse */

/* management page */

.management-page__staff{
    padding-top: 140px;
    padding-bottom: 136px;
}

.management-page__caption{
    padding-left: 285px;
    margin-bottom: 95px;
}

.manager-list li:not(:last-child){
    margin-bottom: 82px;
}

.manager-block{
    display: flex;
    align-items: flex-start;
    padding: 24px 32px;
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.manager-block__image{
    padding: 33px;
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    top: -74px;
    margin-right: 36px;
    width: 393px;
    height: 393px;
    min-width: 393px;
}

.manager-block__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manager-block__text{
    margin-bottom: 28px;
}

.manager-block__stats{

}

.manager-block__type{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 4px;
}

.manager-block__value{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFCF35;
}

.manager-block__stats{
    margin-bottom: 32px;
}

.manager-block__stats li{
    display: flex;
    align-items: flex-end;
}

.manager-block__stats li:not(:last-child){
    margin-bottom: 16px;
}

.manager-block__sub-info p{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: normal;
}

.manager-block__sub-info li:not(:last-child){
    margin-bottom: 12px;
}

.manger-block__button{
    margin-right: 32px;
}

.manager-block__bottom{
    display: flex;
    align-items: center;
}

/* end managements page */

/* faq page */

.question-block{
    background: #0D101C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    transition: .3s;
}

.question-block.collapsed{
    border: 1px solid #5F5F5F;
}

.question-block.collapsed .question-block__trigger{
    background-color: transparent;
    border: none;
}

.question-block__trigger svg{
    fill: #fff;
    transform: rotate(-90deg);
    transition: .3s;
}

.question-block.collapsed .question-block__trigger svg{
    transform: rotate(90deg);
}

.question-block__trigger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #FFFFFF;
    border-radius: 4px;
    transition: .3s;
}

.question-block__trigger span{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.question-block__text{
    padding: 24px;
}

.faq-page__section{
    padding-top: 140px;
    padding-bottom: 140px;
    max-width: 945px;
}

.faq-page__caption{
    padding-left: 390px;
}

.faq-page__caption{
    margin-bottom: 44px;
}

.faq-list li:not(:last-child){
    margin-bottom: 24px;
}

/* end faq page */

/* feedback page */

.feedback-page__section{
    padding-top: 140px;
    padding-bottom: 140px;
}

.feedback-page__caption{
    margin-bottom: 44px;
}

.feedback-form-wrapper{
    max-width: 390px;
}

.feedback-form__caption{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.feedback-form__description{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.feedback-form__description{
    margin-bottom: 24px;
}

.input-block{
    position: relative;
}

.input-block__caption{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 4px;
    
}

.input-block__input{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    height: 58px;
    padding: 0 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
    width: 100%;
}

.input-block_margin_bottom{
    margin-bottom: 16px;
}

.input-block__textarea{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    min-height: 135px;
    height: 135px;
    padding: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
    width: 100%;
}

.feedback-form__button{
    margin-top: 32px;
}

.feedback-form-wrapper{
    position: relative;
}

.feedback-form-wrapper:before{
    content: '';
    position: absolute;
    background-image: url(../img/feedback-planets.svg);
    width: 1315px;
    height: 1315px;
    bottom: -100px;
    left: -565px;
    animation: rotation 20s linear infinite;
}

.feedback-page__feedback-form-wrapper{
    margin-bottom: 215px;
}

.feedback-page__feedback-list-wrapper{
    max-width: 855px;
    margin-left: auto;
}

.feedback-item{
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: relative;
    padding: 80px 27px 25px 32px;
    background: #0D101C;
}

.feedback-item__image{
    display: flex;
    width: 138px;
    height: 138px;
    justify-content: center;
    align-items: center;
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    left: 32px;
    top: -70px;
}

.feedback-item__name{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feedback-item__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feedback-list li:not(:last-child){
    margin-bottom: 95px;
}

.feedback-item__date{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
    text-align: right;
}

.feedback-page__feedback-list{
    margin-bottom: 25px;
}

.pagination__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__list li:last-child{
    margin-left: 27px;
}

.pagination__list li:first-child{
    margin-right: 27px;
}

.pagintation__arrow svg{
    fill: #fff;
    transition: .3s;
}

.pagintation__arrow:hover svg{
    fill: #FFCF35;
}

.pagintation__prev svg{
    transform: rotate(-180deg);
}

.pagination__link{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 44px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .3s;
}

.pagination__link:hover{
    color: #FFCF35;
}

.pagination__link_current{
    background: #FFCF35;
    color: #121212 !important;
}

.pagination__list{
    margin-left: auto;
    margin-right: auto;
}
/* end feedback page */

/* contacts-page */

.contacts-page__section{
    padding-top: 140px;
    padding-bottom: 140px;
}

.contacts-page__section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-page__map{
    max-width: 650px;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
}

.contacts-page__info{
    max-width: 390px;
}

.contacts-info__caption{
    margin-bottom: 12px;
}

.contacts-info__description{
    margin-bottom: 32px;
}

.contacts-info__button{
    margin-top: 32px;
}

.contacts-page__map-description{
    background: rgba(13, 16, 28, .83);
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 20px 40px;
    position: absolute;
    max-width: 478px;
    left: 0;
    right: 0;
    top: 16px;
    margin: auto;
}

.contacts-page__map #map{
    max-width: 100%;
    display: flex;
}

/* end contacts-page */

/* rules page */

.rules-page__section{
    padding-top: 140px;
    padding-bottom: 140px;
}

.rules-page__caption{
    margin-bottom: 32px;
}

.rules-page__list li{
    font-weight: normal;
    font-size: 16px;
    line-height: 187%;
    color: #FFFFFF;
}

.rules-page__list_margin_bottom{
    margin-bottom: 30px;
}

/* end rules page */

/* news page */

.news-page__section{
    padding-top: 140px;
    padding-bottom: 140px;
}

.news-page__caption{
    padding-left: 285px;
    margin-bottom: 100px;
}

.news-current{
    position: relative;
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 32px;
}

.news-current__image{
    float: left;
    width: 390px;
    height: 390px;
    padding: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    border-radius: 4px;
    margin-right: 36px;
    margin-bottom: -70px;
    transform: translateY(-82px);
}

.news-current__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
}

.news-current__caption{
    margin-bottom: 16px;
}

.news-current__text p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.news-current__text p:not(:last-child){
    margin-bottom: 16px;
}

.news-current__text{
    margin-bottom: 32px;
}

.news-current__bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news-current__date{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
}

.news-page__news-current{
    margin-bottom: 74px;
}

.additional-news{
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: relative;
    padding: 32px 32px 32px 460px;
}

.additional-news__image{
    position: absolute;
    left: 32px;
    top: -50px;
    width: 389px;
    height: 389px;

    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 33px;
}

.additional-news__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
}

.additional-news__content{
    min-height: 306px;
    display: flex;
    flex-direction: column;
}

.additional-news__caption{
    margin-bottom: 16px;
}

.additional-news__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 32px;
    min-height: 168px;
}

.additional-news__bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}

.additinal-new__date{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
}

.news-current__additional-list li:not(:last-child){
    margin-bottom: 74px;
}
/* end news page */

/* user index */

.header__log-out-image{
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.header__log-out{
    padding-left: 12px;
    padding-right: 12px;
}

.header__log-out-image svg,
.header__log-out-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stripes-bg__line_page_user{
    max-width: calc(100% - 383px);
    margin-left: auto;
    margin-right: 30px;
}

.user-container{
    padding-left: 30px;
    padding-right: 30px;
}

.user-header{
    top: 24px;
}

.user-section{
    margin-top: 90px;
    border-top: 1px solid #5F5F5F;
}

.user-section__columns{
    display: grid;
    grid-template-columns: 324px 1fr;
}

.user-section__sidebar{
    border-right: 1px solid #5F5F5F;
    padding-top: 52px;
    padding-left: 60px;
    padding-left: 25px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 95px);
}

.user-navigation__link{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5F5F5F;
    transition: .3s;
}

.user-navigation__link:hover{
    color: #fff;
}

.user-navigation li:not(:last-child){
    margin-bottom: 36px;
}

.user-navigation__link_current{
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
}

.user-navigation__link_current:before{
    width: 100px;
    height: 14px;
    content: '';
    position: absolute;
    right: calc(100% + 10px);
    background-image: url(../img/user-page-mark.svg);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: contain;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.user-section__copyright{
    margin-top: auto;
    line-height: 26px;
}

.user-section__copyright a{
    display: block;
}

.user-section__main{
    padding-top: 52px;
    padding-left: 30px;
}

.user-top{
    display: grid;
    grid-template-columns: minmax(380px, auto) 1fr 1fr 1fr;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.user-top__person{
    display: flex;
    align-items: center;
    padding: 18px 32px;
}

.user-top__image{
    background: #0D101C;
    border: 1px solid rgba(255, 207, 53, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-right: 16px;
}

.user-top__image img,
.user-top__image svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-top__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.user-top__reg-date{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 16px;
}

.user-top__stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    border-left: 1px solid #5F5F5F;
}

.user-top__stat p{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.65);
}

.user-top__stat span{
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #FFCF35;
}

.user-section__user-top{
    margin-bottom: 52px;
}

.user-section__datas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 52px;
}

.user-data{
    padding: 32px 78px 32px 32px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
}

.payments-data{
    padding: 32px 78px 32px 32px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
}

.user-data__caption{
    margin-bottom: 24px;
}

.user-data__button {
    margin-top: 32px;
}

.user-data__button_margin_bottom {
    margin-bottom: 52px;
}

.payments-data__description{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.payments-data__caption {
    margin-bottom: 12px;
}
/* end user index */


/* user management */
.user-management{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* end user management */

/* user resources */

.user-resources{
    padding-bottom: 50px;
}

.user-resources__caption{
    margin-bottom: 32px;
}

.resources-table{
    
    width: 100%;   
}

.resources-table-wrapper{
    background: #0D101C;
    padding: 24px 32px;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.resources-table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.resources-table th{
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 24px;
}

.resources-table tbody tr:not(:last-child) td{
    padding-bottom: 16px;
    border-bottom: 1px solid #5F5F5F;
}
.resources-table tbody td{
    padding-top: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.resources-table thead th,
.resources-table tbody td{
    text-align: center;
}

.resources-table thead th:first-child,
.resources-table tbody td:first-child{
    text-align: left;
}

td.resources-table__profit{
    color: #6FCF97 !important;
}
/* end user resources */

/* user burse */

.user-section__graph{
    margin-bottom: 52px;
}

.lot-block__inputs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 328px));
    align-items: flex-end;
    grid-gap: 24px;
}

.lot-block{
    padding: 32px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
}

.lot-block__caption{
    margin-bottom: 24px;
}

.user-section__lot-block{
    margin-bottom: 50px;
}

.operation-table__input-block .input-block__input,
.operation-table__button{
    height: 38px;
    width: 100%;
}

.operation-table__input-block{
    /* max-width: 160px; */
}

.operation-table-wrapper{
    background: #0D101C;
    width: 100%;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 24px 24px;
    margin-bottom: 52px;
}

.operation-table{
    width: 100%;
}

.operation-table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.operation-table th{
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 24px;
}

.operation-table tbody tr:not(:last-child) td{
    padding-bottom: 12px;
    border-bottom: 1px solid #5F5F5F;
}
.operation-table tbody td{
    padding-top: 12px;
    
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.operation-table td:not(:first-child),
.operation-table td:not(:last-child),
.operation-table th:not(:first-child),
.operation-table th:not(:last-child){
    padding-left: 12px;
    padding-right: 12px;
}

.operation-table tbody td:last-child{
    vertical-align: bottom;
}

/* end user burse */

/* user-partners */

.user-top_type_partners{
    grid-template-columns: minmax(220px, auto) minmax(220px, auto) 1fr 1fr 1fr;
}

.user-top__image_size_mini{
    width: 44px;
    height: 44px;
    padding: 4px;
}

.user-top__status{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 12px;
}

.user-top__name_position_bottom{
    margin-bottom: 0;
}

.user-top__person_border_left{
    border-left: 1px solid #5F5F5F;
}

.partners-table-wrapper__links{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.partners-table-wrapper{
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
}

.partners-caption{
    margin-bottom: 24px;
}

.partners-table-wrapper{
    padding: 32px;
}

.partners-table-wrapper__link{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #5F5F5F;
}

.partners-table-wrapper__link:not(:last-child){
    margin-right: 24px;
}

.partners-table-wrapper__link_current{
    border: 2px solid #FFFFFF;
    color: #fff;
}

.partners-table{
    width: 100%;
}

.partners-table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.partners-table th{
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 24px;
}

.partners-table tbody tr:not(:last-child) td{
    padding-bottom: 12px;
    border-bottom: 1px solid #5F5F5F;
}
.partners-table tbody td{
    padding-top: 12px;
    
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.partners-table td:not(:first-child),
.partners-table th:not(:first-child){
    text-align: center;
}

.partners-table td:not(:first-child),
.partners-table td:not(:last-child),
.partners-table th:not(:first-child),
.partners-table th:not(:last-child){
    padding-left: 12px;
    padding-right: 12px;
}

.user-section__partners-table-wrapper{
    margin-bottom: 52px;
}

.partner-link-wrapper{
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: space-between;
}

.parnter-link-wrapper__link{
    padding: 32px 37px 32px 32px;
    width: 100%;
}

.parnter-link-wrapper__caption{
    margin-bottom: 22px;
}

.parnter-link-wrapper__form{
    display: flex;
}

.parnter-link-wrapper__input-block{
    margin-right: 33px;
    width: 100%;
}

.parnter-link-wrapper__input{
    font-size: 16px;
}

.parnter-link-wrapper__stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 52px;
    border-left: 1px solid #5F5F5F;
    min-width: 350px;
}

.parnter-link-wrapper__stat p{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 8px;
}

.parnter-link-wrapper__stat span{
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #FFCF35;
}

.user-section__partner-link-wrapper {
    margin-bottom: 52px;
}

.adv-block-wrapper{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
}

.adv-block-wrapper__caption{
    margin-bottom: 24px;
}

.adb-block__image{
    margin-bottom: 16px;
}

.adb-block__form{
    display: flex;
}

.adv-block-wrapper__adb-block{
    margin-bottom: 32px;
}

.adb-block__input-block{
    margin-right: 24px;
    width: 100%;
}

.adb-block__form{
    width: calc(100% - 354px);
}

.user-section__adv-block-wrapper {
    margin-bottom: 52px;
}

/* end user-partners */

/* user-wallets */

.wallets-block__caption {
    margin-bottom: 32px;
}

.wallets-table-wrapper{
    background: #0D101C;
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 24px;
}

.wallets-table{
    width: 100%;
}

.wallets-table th{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #5F5F5F;
}

.wallets-table th span{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 6px;
}

.wallets-table td{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 16px;
}

.wallets-table tr:not(:last-child) td{
    padding-bottom: 16px;
    border-bottom: 1px solid #5F5F5F;
}

.wallets-table__button-up{
    margin-right: 8px;
}

.wallets-table__buttons{
    display: flex;
    align-items: center;
}

.user-section__wallets-block {
    margin-bottom: 52px;
}

.wallets-table__button-up svg{
    transform: rotate(-180deg);
}

/* end user-wallets */

/* user fill */

.manager-block__image-name{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: calc(100% + 8px);
}

.fill-block__caption{
    margin-bottom: 74px;
}

.fill-block__manager-block{
    margin-bottom: 52px;
}

.control-block{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #5F5F5F;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 32px;
}

.control-block__caption{
    margin-bottom: 24px;
}

.fill-block__inputs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 328px));
    align-items: flex-end;
    grid-gap: 24px;
}

.fill-block__control-block {
    margin-bottom: 52px;
}

/* end user fill */

.user-navigation__link_back{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
}

.user-navigation__link_back svg{
    transform: rotate(180deg);
    border: 1px solid #fff;
    width: 48px;
    height: 48px;
    fill: #fff;
    border-radius: 50%;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -25px;
}

.user-navigation__link_back span{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

/* account */

.account-block{
    max-width: 383px;
    margin-left: auto;
    margin-right: auto;
    
}

.log-in{
    margin-top: 210px;
    margin-bottom: 150px;
}

.account-block__caption{
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.account-block__google{
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-block__google p{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 16px;
}

.account-form__input-block:not(:last-child){
    margin-bottom: 16px;
}

.account-form__button{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.input-block__password-trigger{
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin: auto;
    z-index: 1;
    width: 28px;
    height: 28px;
    background-image: url(../img/eye-cut.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.input-block__password-trigger_active{
    background-image: url(../img/eye-outline.svg);
}

.account-form__forget-link{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;
}

.account-block__content{
    position: relative;
    z-index: 3;
}

.account-block__captcha-block{
    margin-top: 24px;
}

.captcha-block{
    background: #fff;
    height: 97px;
}

.log-in{
    position: relative;
}

.log-in:after{
    content: '';
    position: absolute;
    left: -302px;
    width: 1000px;
    height: 871px;
    bottom: -130px;
    background-image: url(../img/log-in-glow.svg);
    z-index: 1;
}

.log-in:before{
    content: '';
    position: absolute;
    width: 693px;
    height: 693px;
    left: -155px;
    top: -70px;
    z-index: 2;
    background-image: url(../img/log-in-planets.svg);
    animation: rotation 20s linear infinite;
}

.sign-up{
    margin-top: 200px;
    margin-bottom: 132px;
}

.account-form__policy{
    display: flex;
    align-items: center;
}

.account-form__policy label{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    position: relative;
    white-space: nowrap;
    transform: translateX(15px);
}

.account-form__policy label:before{
    content: '';
    position: absolute;
    right: calc(100% + 9px);
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    z-index: 1;
}

.account-form__policy label a{
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}
.account-form__policy input{
    display: none;
}

.account-form__policy input:checked + label:after{
    content: '';
    position: absolute;
    width: 19px;
    height: 13px;
    background-image: url(../img/check-mark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: calc(100% + 5px);
    bottom: 7px;
    z-index: 2;
}

.sign-up{
    margin-top: 200px;
    margin-bottom: 130px;
    position: relative;
}

.sign-up:before{
    content: '';
    position: absolute;
    background-image: url(../img/log-in-glow.svg);
    width: 1002px;
    height: 871px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -302px;
    top: -186px;
}

.sign-up:after{
    content: '';
    position: absolute;
    width: 859px;
    height: 859px;
    left: -238px;
    bottom: -60px;
    z-index: 2;
    background-image: url(../img/log-in-planets.svg);
    background-size: contain;
    animation: rotation 20s linear infinite;
}
/* end account */

/* modals */

.push-notification{
    position: fixed;
    background: #0D101C;
    box-shadow: 0px 0px 54px rgba(255, 255, 255, 0.12);
    border-radius: 4px;

    max-width: 430px;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 32px 18px 20px 24px;
    opacity: 0;
    transform: translateY(100%);
    transition: .6s;
}

.push-notification_active{
    transform: translateY(0);
    display: block;
    opacity: 1;
}

.push-notification__caption{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 16px;
}

.push-notification__close{
    position: absolute;
    right: 40px;
    top: 12px;
}

.notification-modal{
    background: radial-gradient(50% 50% at 50% 50%, rgba(51, 60, 94, 0.8) 0%, rgba(23, 26, 38, 0) 100%), #0D101C;
    background-size: 520px 520px, auto auto;
    background-position: center;
    box-shadow: 0px 4px 250px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    padding-top: 42px;
    padding-bottom: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-modal__close{
    position: absolute;
    right: 20px;
    top: 20px;
}

.notification-modal__caption{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-top: 10px;
}

.modal-dialog{
    max-width: 554px;
}