@media(max-width: 990px){

    .hamburger {
        padding: 0;
        filter: invert(100%);
        display: flex;
    }

    .header-xs{
        position: fixed;
        left: 0;
        width: 100%;
        height: calc(100% - 65px);
        top: 65px;
        background-color: #0D101C;
        padding: 30px 15px 90px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        transition: .3s;
        transform: translateX(100%);
    }

    .header-xs_active{
        transform: translateX(0);
    }

    .header-menu {
        flex-direction: column;
    }

    .header__header-menu{
        margin-right: 0;
        margin-bottom: auto;
        width: 100%;
    }

    .header-menu li:not(:last-child){
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header{
        top: 15px;
    }

    .header__sign-up{
        margin-left: auto;
        margin-right: auto;
    }

    .header__language-switcher-wrapper{
        margin-right: 0;   
    }

    .video-block__content{
        margin-left: auto;
    }

    .footer__content{
        
        flex-direction: column-reverse;
    }

    .footer-menu{
        flex-direction: row;
        margin-bottom: 60px;
    }

    .news-preview{
        margin-bottom: 60px;
    }

    .stat-table-block{
        margin-bottom: 60px;
    }

    .graph-block > div{
        min-width: 845px;
        
    }

    .graph-block{
        overflow: scroll;
    }

    .graph-block__bottom{
        margin-bottom: 20px;
    }

    .graph-block__category{
        font-size: 14px;
        padding: 14px;
    }

    .graph-block__date{
        font-size: 14px;
        padding: 14px;
    }

    .graph-table table th{
        font-size: 14px;
        padding-bottom: 20px;
    }

    .graph-table table td{
        font-size: 14px;
        padding-bottom: 20px;
    }

    /* burse page */

    .boss-section{
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    .boss-section__content{
        padding: 30px 15px;
    }

    .boss-section__pic img{
        width: 100%;
    }

    .third-section__title{
        padding-left: 0;
        margin-bottom: 20px;
    }

    .third-section__caption{
        margin-bottom: 20px;
    }

    /* end burse page */

    /* contacts */

    .contacts-page__section{
        flex-direction: column;
    }

    .contacts-info__form{
        margin-bottom: 30px;
    }

    .contacts-page__map-description{
        width: calc(100% - 15px);
    }

    .contacts-page__section{
        /* padding-top: 60px; */
        padding-bottom: 60px;
    }

    /* end contacts */

    /* faq */

    .faq-page__caption{
        padding-left: 0;
    }
    
    /* end faq */

    /* feedback */

    .feedback-form__description{
        font-size: 14px;
    }

    .feedback-item{
        padding-left: 14px;
        padding-right: 14px;
    }

    .feedback-item__text{
        font-size: 14px;
    }

    /* end feedback */

    /* log in */

    .account-block__content{
        padding: 0 15px;
    }

    .account-form__policy label{
        white-space: normal;
        transform: translateX(20px);
    }

    /* end log in */

    /* management */

    .manager-block{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }

    .management-page__caption{
        padding-left: 0;
    }

    .manager-block__image{
        padding: 15px;
        width: 200px;
        height: 200px;
        margin-bottom: -60px;
        min-width: 0;
    }

    .manager-block__content{
        max-width: 100%;
    }

    .manager-block__bottom{
        flex-direction: column;
        align-items: flex-start;
    }

    .manager-block__sub-info{
        margin-top: 20px;
    }

    /* end management */

    /* news */

    .news-current__image{
        width: 200px;
        height: 200px;
        padding: 15px;
        float: none;
    }

    .news-current__text p{
        font-size: 14px;
    }

    .news-current{
        padding-left: 15px;
        padding-right: 15px;
    }

    .additional-news__image{
        width: 200px;
        height: 200px;
        padding: 15px;
    }

    .additional-news{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 160px;
    }

    .additional-news__text{
        font-size: 14px;
    }

    .news-page__caption{
        padding-left: 0;
    }

    /* end news */

    /* rules */

    .rules-page__list li{
        font-size: 14px;
    }

    /* end rules */

    /* user burse */

    .user-container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .user-section__columns{
        grid-template-columns: 1fr;
    }

    .user-section__sidebar{
        padding-top: 30px;
        min-height: auto;
        padding-bottom: 30px;
        border: none;
        padding-right: 25px;
    }

    .user-navigation{
        margin-bottom: 30px;
    }

    .user-navigation__link{
        font-size: 14px;
    }

    .user-navigation li:not(:last-child){
        margin-bottom: 16px;
    }

    .user-section{
        margin-top: 80px;
    }

    .user-section__main{
        padding: 0;
        width: calc(100vw - 30px);
    }

    .copyright{
        font-size: 14px;
    }

    .user-section__user-top{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .user-top__stat{
        padding: 15px;
        border: none;
    }

    .user-top__person{
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .user-top__image{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .user-top__stat span{
        font-size: 22px;
    }

    .lot-block{
        padding: 15px;
    }

    .operation-table th{
        font-size: 14px;
    }

    .operation-table tbody td{
        font-size: 14px;
        white-space: nowrap;
    }

    .operation-table-wrapper{
        padding: 15px;
        overflow: auto;
    }

    .user-header .logo svg{
        width: 200px;
    }

    /* end user burse */

    /* user fill */

    .manager-block__image-name{
        font-size: 12px;
        bottom: -2px;
        top: auto;
    }

    .control-block{
        padding: 15px;
    }

    /* end user fill */

    /* user index */

    .user-section__datas{
        grid-template-columns: 1fr;
    }

    .user-data{
        padding: 15px;
    }

    .payments-data{
        padding: 15px;
    }
    /* end user index */

    /* user partner */

    .partners-table-wrapper{
        padding: 15px;
        overflow: auto;
    }

    .partners-table-wrapper__link{
        white-space: nowrap;
    }

    .parnter-link-wrapper__link{
        padding: 15px;
    }

    .partner-link-wrapper{
        flex-wrap: wrap;
    }

    .parnter-link-wrapper__form{
        flex-direction: column;
    }

    .parnter-link-wrapper__input-block{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .parnter-link-wrapper__input{
        font-size: 14px;
    }

    .parnter-link-wrapper__stat{
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .partners-table thead th,
    .partners-table tbody td{
        font-size: 14px;
        white-space: nowrap;
    }
    

    .adv-block-wrapper{
        padding: 15px;
    }

    .adb-block__form{
        width: 100%;
        flex-direction: column;
    }

    .input-block__input{
        font-size: 14px;
    }

    .adb-block__input-block{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .adb-block__image{
        max-width: 100%;
    }
    

    /* user partner */

    /* user resources */

    .resources-table-wrapper{
        padding: 15px;
        overflow: auto;
    }

    .resources-table thead th, .resources-table tbody td{
        font-size: 14px;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* end user resources */

    /* user wallets */

    .wallets-table-wrapper{
        padding: 15px;
        overflow: auto;
    }

    .wallets-table th,
    .wallets-table td{
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* end user wallets */
}

@media(max-width: 767px){

    /* faq */

    .question-block__trigger span{
        font-size: 14px;
    }

    .question-block__text{
        padding: 15px;
    }

    .question-block__trigger{
        padding: 15px;
    }

    .faq-page__section{
        padding-bottom: 60px;
    }

    .question-block__trigger svg{
        min-width: 8px;
        margin-left: 8px;
    }

    /* end faq */

    .section:not(:last-child){
        margin-bottom: 60px;
    }

    .caption_size_h1{
        font-size: 32px;
    }

    .caption_size_h2{
        font-size: 24px;
    }

    .caption_size_h3{
        font-size: 18px;
    }

    .text{
        font-size: 14px;
        line-height: 1.5;
    }

    .intro-block{
        margin-bottom: 20px;
    }

    .intro-block__description {
        text-align: center;
    }

    .fourth-section__description{
        margin-bottom: 140px;
    }

    .video-block{
        margin-top: 60px;
    }

    .video-block__content iframe{
        width: 320px;
        height: 320px;
    }

    .trader-block_margin_bottom{
        margin-bottom: 0;
    }

    .trader-block{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 120px;
    }

    .fifth-section{
        padding-top: 0;
        padding-bottom: 0;
    }

    .stat-table table th{
        font-size: 14px;
        padding-bottom: 12px;
    }

    .stat-table table td{
        font-size: 14px;
        padding-bottom: 12px;
    }

    .stat-table{
        padding: 15px;
    }

    .stat-table-block{
        margin-bottom: 40px;
    }

    .partner-program{
        /* grid-template-columns: 1fr; */
        grid-gap: 0;
        justify-content: space-between;
    }

    .partner-program__level{
        font-size: 14px;
    }

    .partner-program__value{
        width: 60px;
        height: 60px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 1;
    }

    .fifth-section__form-wrapper{
        width: 100%;
    }

    .form_type_income{
        width: 100%;
    }

    .trader-info__name{
        font-size: 12px;
        line-height: 1;
    }

    .trader-info__country{
        font-size: 12px;
        line-height: 1;
    }

    .statistics__caption,
    .news-section__caption{
        padding-left: 0;
    }

    .footer-menu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .footer-menu li:not(:last-child),
    .footer-menu li{
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .footer-menu__link{
        font-size: 14px;
    }

    .footer{
        padding: 20px 0;
        margin-bottom: 30px;
    }

    .social-list{
        flex-wrap: wrap;
    }

    .social-list li:not(:last-child),
    .social-list li{
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .footer__logo{
        margin-bottom: 20px;
    }

    .footer__social-list{
        margin-bottom: 20px;
    }

    .copyright{
        font-size: 12px;
    }

    .footer{
        margin-bottom: 0;
    }


    
}